[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["openidconnect"],version = "*"}
psycopg2 = "*"
cryptography = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
django-rest-framework-social-oauth2 = "*"
django-ical = "*"

[requires]
python_version = "3.8"
