[[source]]
name = "pypi"
url = "https://pypi.org/simple"
#url = "https://nexus3.r.regiocom.net/repository/pypi-all/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
coverage = "*"
mkdocs = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["openidconnect"],version = "*"}
psycopg2 = "*"
cryptography = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
django-rest-framework-social-oauth2 = "*"
django-ical = "*"
django-simple-history = "*"
django-prometheus = "*"
django-health-check = "*"

[requires]
python_version = "3.11"
