{% extends 'wamytmapp/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{% trans "New entry" context "AddTimeRangeForm" %}</h1>
        <p class="lead">{% trans "A new date can be added." context "AddTimeRangeForm" %}</p>
    </div>
</div>

{% bootstrap_form_errors form layout='inline' %}
<form action="{% url 'wamytmapp:add' %}" method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% trans "Submit" context "AddTimeRangeForm" %}
    </button>
    <a href="{% url 'wamytmapp:index' %}" class="btn btn-secondary">{% trans "Cancel" context "AddTimeRangeForm" %}</a>
    {% endbuttons %}
</form>

{% endblock %}