<footer id="footer" class="border-top bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                <p class="h6">Version: 2020-02-20 <a class="ml-2" href="https://github.com/erikwegner/wamytm"
                        target="_blank">Issues, Code, Credits</a></p>
            </div>
            </hr>
        </div>
    </div>
</footer>
<script>
    $(function () {

        var e$ = $('input[name="end"]');
        var s$ = $('input[name="start"]');
        s$.datepicker().on('changeDate', function(e) {
            e$.datepicker('setStartDate', (s$.datepicker('getDate')));
        });
        e$.datepicker().on('changeDate', function(e) {
            s$.datepicker('setEndDate', (e$.datepicker('getDate')));
        });

    });

</script>