{% extends 'wamytmapp/base.html' %}

{% block content %}
<h2>Diese Woche</h2>

<table class="table table-sm presence">
    <thead>
        <tr>
            <th scope="col">Person</th>
            {% for day in days %}
            <th scope="col">{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in this_week %}
        <tr>
            <th scope="row">{{ item.user.last_name }}, {{ item.user.first_name }}</th>
            {% for day in item.days %}
            {% if day == 0%}
            <td class="empty"></td>
            {% else %}
            <td class="kind-{{ day }}">{{ day }}</td>
            {% endif %}
            {% endfor %}
        </tr>        
        {% endfor %}
    </tbody>
</table>
{% endblock %}