{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}
{% load get_value_from_dict %}
{% load i18n %}

{% block content %}

<form action="{% url 'wamytmapp:list1' %}" method="get" role="form" id="filterform">
    {% bootstrap_form ouselect %}
</form>

{% spaceless %}
<table class="table table-sm presence">
    {% for line in lines %}
    {% if forloop.counter0 == 0 or forloop.counter0 > 8 and line.start_of_week and line.four_week_counter == 1 %}
    {% if forloop.counter0 > 0 %}
    </tbody>
    {% endif %}
    <thead>
        <tr class="bg-secondary">
            <th scope="col">{% trans "Date" context "List1Template" %}</th>
            {% for user in users %}
            <th scope="col">{{ user.display_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr class="{% if line.week_is_even %}bg-light {% endif %}{% if line.start_of_week %}start-of-week {% endif %}">
            <th scope="row"{% if line.day.allday %} class="allday"{% endif %}>{{ line.day.day | date:"d. M (D)" }}{% if line.day.allday %} {{ line.day.allday.description }}{% endif %}</th>
            {% for col in line.cols %}
            {% if col %}
            <td class="kind-{{ col.kind }}">{% with col.kind as k %}{{ trc|get_value_from_dict:k }}{% endwith %}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
    {% if forloop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>
{% endspaceless %}

<a class="" href="{% url 'wamytmapp:icalfeed-by-orgunit' orgunit=orgunit %}"
    role="">{% trans "iCal calendar sync" context "IndexTemplate" %}</a>

{% endblock %}