{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}

{% block content %}

<form action="{% url 'wamytmapp:list1' %}" method="get" role="form" id="filterform">
    {% bootstrap_form ouselect %}
</form>

<table class="table table-sm presence">
    {% for line in lines %}
    {% if forloop.counter0|divisibleby:14 %}
    <thead>
        <tr>
            <th scope="col">Datum</th>
            {% for user in users %}
            <th scope="col">{{ user }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr{% if line.start_of_week %} class="start-of-week"{% endif %}>
            <th scope="row">{{ line.day | date:"d. M (D)" }}</th>
            {% for col in line.cols %}
            {% if col %}
            <td class="kind-{{ col.kind }}">X</td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
    {% if forloop.counter0|divisibleby:14 %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}