{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Profil</h1>
        <p class="lead">Einstellungen zum Anmeldekonto.</p>
    </div>
</div>

{% bootstrap_form_errors form layout='inline' %}
<form action="{% url 'wamytmapp:profile' %}" method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <a href="{% url 'wamytmapp:index' %}" class="btn btn-secondary">Cancel</a>
    {% endbuttons %}
</form>

{% endblock %}