{% extends 'wamytmapp/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{% trans "New entry" context "AddTimeRangeForm" %}</h1>
        <p class="lead">{% trans "A new date can be added." context "AddTimeRangeForm" %}</p>
    </div>
</div>

{% bootstrap_form_errors form layout='inline' %}
<form action="{% url 'wamytmapp:add' %}" method="post" role="form">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-7">
            {% bootstrap_field form.start %}
            {% bootstrap_field form.end %}
        </div>
        <div class="col-md-5">
            {% bootstrap_field form.user %}
            {% bootstrap_field form.org_id %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% bootstrap_field form.kind %}
            {% bootstrap_field form.description %}
        </div>
        <div class="col-md-5">
            {% bootstrap_field form.part_of_day %}
        </div>
    </div>
    <div class="row" style="display: none;" id="overlappingcontainer">
        <div class="col-md-12">
            {% trans "Overlapping items" context "AddTimeRangeForm" %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans "Begin date" context "AddTimeRangeFormOverlapTable" %}</th>
                        <th scope="col">{% trans "End date" context "AddTimeRangeFormOverlapTable" %}</th>
                        <th scope="col">{% trans "Kind" context "AddTimeRangeFormOverlapTable" %}</th>
                        <th scope="col">{% trans "Partial" context "AddTimeRangeFormOverlapTable" %}</th>
                        <th scope="col">{% trans "Action" context "AddTimeRangeFormOverlapTable" %}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        <span id="submitspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        {% trans "Submit" context "AddTimeRangeForm" %}
    </button>
    <a href="{% url 'wamytmapp:index' %}" class="btn btn-secondary">{% trans "Cancel" context "AddTimeRangeForm" %}</a>
    {% endbuttons %}
    </div>
    </div>
</form>
<script>
    wamytmi18n['res_beg'] = '{% trans "Set new start date" context "AddTimeRangeForm" %}';
    wamytmi18n['res_end'] = '{% trans "Set new end date" context "AddTimeRangeForm" %}';
    wamytmi18n['res_spl'] = '{% trans "Split item" context "AddTimeRangeForm" %}';
    wamytmi18n['res_del'] = '{% trans "Delete item" context "AddTimeRangeForm" %}';
</script>
<script src="{% static 'wamytmapp/js/add.js' %}"></script>
{% endblock %}