{% load i18n %}
<footer id="footer" class="border-top bg-light hide-embedded">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                <p class="h6">Version: 2020-03-29 <a class="ml-2" href="https://github.com/erikwegner/wamytm"
                        target="_blank">Issues, Code, Credits</a></p>
            </div>
        </div>
    </div>
</footer>
<script>
    $(function () {

        $('.partial-f').each(function (n, e) {
            $(e).prop('title', '{% trans "Forenoon" context "Tooltip" %}');
        });
        $('.partial-a').each(function (n, e) {
            $(e).prop('title', '{% trans "Afternoon" context "Tooltip" %}');
        });
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>