{% load i18n %}
<footer id="footer" class="border-top bg-light hide-embedded" style="max-height:34px;overflow:hidden;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-left" style="padding-top: 8px; padding-bottom: 8px;">
                <p style="margin: 0; font-size: 0.875rem;">Proudly made🦄 by the Agent Systems Team</p>
            </div>
            <div class="col-md-4 text-center" style="padding-top: 8px; padding-bottom: 8px;">
                <p class="h6" style="margin: 0; font-size: 0.875rem;">Version: 2020-03-29
                    <a href="https://rcwiki.intra.regiocom.net/x/MwtOGQ" target="_blank"
                        style="font-size: 0.875rem;">Informationspflicht Art. 13 DS-GVO</a>
                </p>
            </div>
            <div class="col-md-4 text-center"></div>
        </div>
    </div>
</footer>
<script>
    $(function () {
        $('.partial-f').each(function (n, e) {
            $(e).prop('title', '{% trans "Forenoon" context "Tooltip" %}');
        });
        $('.partial-a').each(function (n, e) {
            $(e).prop('title', '{% trans "Afternoon" context "Tooltip" %}');
        });
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>