{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}
{% load get_value_from_dict %}
{% load get_partial_symbol %}
{% load get_description_tooltip %}
{% load i18n %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<h2 class="ml-2 row hide-embedded">{% trans "Week view" context "IndexTemplate" %}</h2>
<div class="row align-items-center mb-3">
    <div class="col-md-3">
        <button type="button" onclick="go_week(-1);" class="btn btn-secondary d-inline" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg>
        </button>
        <button type="button" onclick="setWeekdeltaAndSubmit(0);" class="btn btn-light" role="button">{% trans "Current week" context "IndexTemplate" %}</button>
        <button type="button" onclick="go_week(1);" class="btn btn-secondary d-inline" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </button>
    </div>
    <div class="col-md-9">
        <input name="orgunit_initial" readonly="readonly" type="hidden" value="{{ orgunit_initial }}" />
        <form action="{% url 'wamytmapp:index' %}" method="get" role="form" id="filterform">
            {% if embeded %}{% bootstrap_field filterform.embed %}{% endif %}
            {% bootstrap_field filterform.weekdelta %}
            {% if users %}{% bootstrap_field filterform.users %}{% endif %}

            <div class="row">
                <div class="col-md-7">
                    {% if not users %}
                    <div class="dropdown hierarchy-select" id="id_orgunit">
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="example-three-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="example-three-button">
                            <div class="hs-searchbox">
                                <input type="text" class="form-control" autocomplete="off">
                            </div>
                            <div class="hs-menu-inner">
                                <a class="dropdown-item" data-value="0" data-level="1" href="#">Alle</a>
                                {% for em in orgunit %}
                                    <a class="dropdown-item" data-value="{{ em.id }}" data-level="{{ em.lvl }}" href="#">{{ em.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <input class="d-none" name="orgunit" readonly="readonly" aria-hidden="true" type="text" value="{{ orgunit_initial }}" />
                    </div>
                    {% else %}
                    <span></span>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <input type="text" id="filterDate" data-provide="datepicker" data-date-calendar-weeks="true"
                        data-date-format="yyyy-mm-dd" data-date-today-highlight="true" data-date-week-start="1"
                        data-date-today-btn="true" data-date-language="{{ LANGUAGE_CODE }}"
                        class="form-control d-inline" title="">
                </div>
                <div class="col-md-1">
                    <button type="button" id="goToDate" class="btn btn-secondary d-inline">{% trans "Go" context "IndexTemplateFilters" %}</button>
                </div>
            </div>
            <script>
                $('#goToDate').on('click', function () {
                    var d = $('#filterDate').datepicker('getDate');
                    if (!d) {
                        return;
                    }
                    var d_minutes = (d.getTime() / 1000 / 60 - d.getTimezoneOffset());
                    var d_monday = Math.floor(d_minutes / 60 / 24) - ((d.getDay() + 6) % 7);
                    var today = new Date();
                    var t_monday = Math.floor((today.getTime() / 1000 / 60 - today.getTimezoneOffset()) / 60 / 24) - ((today.getDay() + 6) % 7);
                    var delta = (d_monday - t_monday) / 7;
                    setWeekdeltaAndSubmit(delta);
                });
            </script>

        </form>
    </div>
</div>

<div id="grid_table" class="presence">
    <div class="header th">{% trans "Person" context "IndexTemplate" %}</div>
    {% for day in days %}
    <div class="header th {% if day.allday %} allday{% endif %}">{{ day.day }}{% if day.allday %}<br>{{ day.allday.description }}{% endif %}</div>
    {% endfor %}
    {% for item in meins %}
    {% if item.dn == 1 %}
    <div class="th">{{ item.user_name }}</div>
    {% endif %}
    {% if item.kind == None %}
    <div style="grid-column: span {{ item.span }};" class="empty"></div>
    {% else %}
    <div style="grid-column: span {{ item.span }};" class="kind-{{ item.kind }}{{ item.partial }}">{{ trc|get_value_from_dict:item.kind }}{{ item|get_description_tooltip }}</div>
    {% endif %}
    {% endfor %}
</div>

<script>
    function submitFilter() {
        document.getElementById('filterform').submit();
    }
    function setWeekdeltaAndSubmit(value) {
        document.getElementById('id_weekdelta').value = value;
        submitFilter();
    }
    function go_week(delta) {
        var strValue = document.getElementById('id_weekdelta').value;
        var currentValue = parseInt(strValue ? strValue : "0");
        setWeekdeltaAndSubmit(currentValue + delta);
    }
    $('#id_orgunit').hierarchySelect({
        width: '450px',
        height: '500px',
        resetSearchOnSelection: false,
        initialValueSet: true,
        onChange: function (value) {
            if ($('input[name=orgunit_initial]').val() != value) {
                document.getElementById('filterform').submit();
            }
        }
    });
</script>
{% endblock %}