{% extends "wamytmapp/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header">
                    <h5>🌵</h5>
                </div>
                <div class="card-body">
                   <ul class="list-unstyled">
                        <li><Strong>Neuer Eintrag:</Strong>neues Kalenderelement</li>
                        <li><Strong>Startseit:</Strong>Erweitern von Einträgen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
