{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}
{% load get_value_from_dict %}
{% load get_partial_symbol %}
{% load get_description_tooltip %}
{% load i18n %}

{% block content %}

<form action="{% url 'wamytmapp:list1' %}" method="get" class="mb-3" role="form" id="filterform">
    <label for="id_orgunit">Organisationseinheit</label>
    {% if embeded %}{% bootstrap_field ouselect.embed %}{% endif %}
    <div class="dropdown hierarchy-select" id="id_orgunit">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="example-three-button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="example-three-button">
            <div class="hs-searchbox">
                <input type="text" class="form-control" autocomplete="off">
            </div>
            <div class="hs-menu-inner">
                <a class="dropdown-item" data-value="0" data-level="1" href="#">Alle</a>
                {% for em in orgunit_filter %}
                    <a class="dropdown-item" data-value="{{ em.id }}" data-level="{{ em.lvl }}" href="#">{{ em.name }}</a>
                {% endfor %}
            </div>
        </div>
        <input class="d-none" name="orgunit" readonly="readonly" aria-hidden="true" type="text" value="{{ orgunit }}" />
    </div>
    <input name="orgunit_initial" readonly="readonly" type="hidden" value="{{ orgunit_initial }}" />
    {% bootstrap_field ouselect.fd %}
    {% bootstrap_field ouselect.td %}
</form>

{% spaceless %}
<table class="table table-sm presence">
    {% for line in lines %}
    {% if forloop.counter0 == 0 or forloop.counter0 > 8 and line.start_of_week and line.four_week_counter == 1 %}
    {% if forloop.counter0 > 0 %}
    </tbody>
    {% endif %}
    <thead>
        <tr class="bg-secondary">
            <th scope="col">{% trans "Date" context "List1Template" %}</th>
            {% for user in users %}
                <th scope="col">{{ user.display_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr class="{% if line.week_is_even %}bg-light {% endif %}{% if line.start_of_week %}start-of-week {% endif %}">
            <th scope="row"{% if line.day.allday %} class="allday"{% endif %}>{{ line.day.day | date:"d. M (D)" }}{% if line.day.allday %} {{ line.day.allday.description }}{% endif %}</th>
            {% for col in line.cols %}
            {% if col %}
            <td class="kind-{{ col.new_kind }}">{% with col.kind_with_details as k %}{{ trc|get_value_from_dict:k }}{% endwith %}{{ col.data|get_description_tooltip}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
    {% if forloop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>
{% endspaceless %}

{% if orgunit_initial > 0 %}
    <a class="hide-embedded" href="{% url 'wamytmapp:icalfeed-by-orgunit' orgunit=orgunit %}" role="">{% trans "iCal calendar sync" context "IndexTemplate" %}</a>
{% endif %}
<script>
    $('#id_orgunit').hierarchySelect({
        width: '100%',
        height: '500px',
        resetSearchOnSelection: false,
        initialValueSet: true,
        onChange: function (value) {
            if ($('input[name=orgunit_initial]').val() != value) {
                document.getElementById('filterform').submit();
            }
        }
    });
</script>
{% endblock %}