{% extends 'wamytmapp/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{% trans "Profile" context "ProfileTemplate" %}</h1>
        <p class="lead">{% trans "Account settings." context "ProfileTemplate" %}</p>
    </div>
</div>

{% bootstrap_form_errors form layout='inline' %}
<form action="{% url 'wamytmapp:profile' %}" method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% trans "Submit" context "ProfileTemplate" %}
    </button>
    <a href="{% url 'wamytmapp:index' %}" class="btn btn-secondary">{% trans "Cancel" context "ProfileTemplate" %}</a>
    {% endbuttons %}
</form>

{% endblock %}