.presence .kind-a {
    background-color: #d66262;
}

.presence .kind-p {
    background-color: #8fbc8f;
}

.presence .kind-m {
    background-color: #8292ee;
}

.presence .kind-mp {
    background-color: #ab82ee;
}

tr.start-of-week {
    border-top: #000000 3px solid;
}

.presence th.allday {
    background-color: #999;
}

/* https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}