/* ganztägig */
.presence .kind-a, .presence .kind-aa {
    background-color: #d66262;
}
.presence .kind-p, .presence .kind-pp {
    background-color: #8fbc8f;
}
.presence .kind-m, .presence .kind-mm {
    background-color: #8292ee;
}
/* halbtags */
.presence .kind-m-a {
    background: linear-gradient(110deg, #aaa 40%, #8292ee 40%);
}
.presence .kind-m-f {
    background: linear-gradient(110deg, #8292ee 60%, #aaa 60%);
}
.presence .kind-a-a {
    background: linear-gradient(110deg, #aaa 40%,#d66262 40%);
}
.presence .kind-a-f {
    background: linear-gradient(110deg, #d66262 60%, #aaa 60%);
}
.presence .kind-p-a {
    background: linear-gradient(110deg, #aaa 40%,#8fbc8f 40%);
}
.presence .kind-p-f {
    background: linear-gradient(110deg, #8fbc8f 60%, #aaa 60%);
}

/* ganztag gesplittet */
.presence .kind-pm {
    background: linear-gradient(110deg, #8fbc8f 50%,#8292ee 50%);
}
.presence .kind-mp {
    background: linear-gradient(110deg, #8292ee 50%, #8fbc8f 50%);
}
.presence .kind-ap {
    background: linear-gradient(110deg, #d66262 50%,#8fbc8f 50%);
}
.presence .kind-pa {
    background: linear-gradient(110deg, #8fbc8f 50%, #d66262 50%);
}
.presence .kind-am {
    background: linear-gradient(110deg, #d66262 50%,#8292ee 50%);
}
.presence .kind-ma {
    background: linear-gradient(110deg, #8292ee 50%, #d66262 50%);
}
/*#####################*/

tr.start-of-week {
    border-top: #000000 3px solid;
}

.presence .allday {
    background-color: #b0b0b0 !important;
}

/* https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.form-group.required label::after {
    content: " *"
}

.embedded .hide-embedded {
    display: none;
}
#grid_table {
    display: grid;
    grid-template-columns: 270px 166px 166px 166px 166px 166px;
    grid-row-gap: 3px;
    grid-column-gap: 1px;
}
#grid_table .th {
    font-weight: bold;
}
#grid_table .header {
    text-align: center;
    position: sticky;
    top: 0;
    border-radius: 0;
    background-color: white;
}
#grid_table div:not(.th) {
    text-align: center;
}
#grid_table div {
    padding: 5px;
    border-radius: 15px;
}

#dev td {
    vertical-align: top;
}
